In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("./atusact_2017.dat",sep=",")

In [39]:
df.head()

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUDURSTOP,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20170101170002,1,-1,0,-1,0,-1,-1,-1,-1,...,2,-1,04:00:00,05:30:00,1,1,1,10101,101,0
1,20170101170002,2,-1,0,-1,0,-1,-1,-1,-1,...,1,-1,05:30:00,06:00:00,1,2,1,10201,102,0
2,20170101170002,3,12,0,-1,0,-1,-1,-1,-1,...,1,-1,06:00:00,06:15:00,18,5,1,180501,1805,0
3,20170101170002,4,2,0,-1,0,-1,-1,-1,-1,...,1,-1,06:15:00,06:30:00,5,1,4,50104,501,0
4,20170101170002,5,2,0,-1,0,-1,-1,-1,-1,...,2,-1,06:30:00,09:00:00,5,1,1,50101,501,0

In [40]:
activity_codes = {
    "01":" Personal Care",
    "02":" Household Activities",
    "03":" Caring For & Helping Household Members",
    "04":"Caring For & Helping NonHH Members",
    "05": "Work & Work-Related Activities",
    "06":" Education",
    "07":" Consumer Purchases",
    "08":" Professional & Personal Care Services",
    "09":" Household Services",
    "10":" Government Services & Civic Obligations",
    "11":" Eating and Drinking",
    "12": "Socializing, Relaxing, and Leisure",
    "13": "Sports, Exercise, and Recreation",
    "14":" Religious and Spiritual Activities",
    "15":" Volunteer Activities",
    "16":" Telephone Calls",
    "18":" Traveling ",
}

In [41]:
unique = df["TUCASEID"].unique()[:100]

In [42]:
len(unique)

100

In [43]:
df = df[df['TUCASEID'].isin(unique)]

In [44]:
df = df.loc[:,['TUCASEID','TUSTARTTIM','TUSTOPTIME','TUTIER1CODE','TUACTIVITY_N']]

In [45]:
df["start_minute"] = pd.to_datetime(df['TUSTARTTIM'], format='%H:%M:%S').dt.hour *60 + pd.to_datetime(df['TUSTARTTIM'], format='%H:%M:%S').dt.minute

In [46]:
df["stop_minute"] = pd.to_datetime(df['TUSTOPTIME'], format='%H:%M:%S').dt.hour *60 + pd.to_datetime(df['TUSTOPTIME'], format='%H:%M:%S').dt.minute

In [48]:
df = df.loc[:,['TUCASEID','start_minute','stop_minute','TUTIER1CODE','TUACTIVITY_N']]

In [50]:
df.to_csv("data.csv")